In [1]:
import pandas as pd # importing pandas module
import numpy as np

#MAJOR OPERATIONS

# CRETAION
# INDEXING
# SLICING
# SUBSETTING -> GROUPING & FILTERING

In [8]:
# Two main Datastructure in Pandas 
# 1: Series 2: DataFrame

# Creation of Panda Series (similar to numpy array prefers a single type)
# NOTE: Series or dataframe both are indexed

# CREATION OF SERIES
pd_s1=pd.Series(np.arange(10))
pd_s2=pd.Series([1,2,3,'4',5])
print(pd_s1)
print(pd_s2)
#This is will be tuple with index and value
for i in pd_s2.items():
    print((i))

# To Acess Values

for i in pd_s2.values:
    print(" {} {}".format(type(i),i))
    
#pd_s2.sum() #TypeError: unsupported operand type(s) for +: 'int' and 'str'

# To know length of a series
print("{} : {}".format(len(pd_s2.index),len(pd_s2)))
pd_s2.describe()

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int32
0    1
1    2
2    3
3    4
4    5
dtype: object
(0, 1)
(1, 2)
(2, 3)
(3, '4')
(4, 5)
 <class 'int'> 1
 <class 'int'> 2
 <class 'int'> 3
 <class 'str'> 4
 <class 'int'> 5
5 : 5

count     5
unique    5
top       4
freq      1
dtype: object

In [7]:
## DATA FRAME
       ## CREATION
# from Dictionary
pd_df=pd.DataFrame({
    'name':['A','B','C','D']
    ,'age':[1,2,3,4]
    ,'bgroup':['A+','B+','O+','AB+']
})

# from CSV
curr_df=pd.read_csv('currencies.csv')
print(pd_df.head()) # first 5 elements
curr_df.tail(2) # last 2
pd_df.describe() # describe numerical values columns
#NOTE: % defined are percentile each gives a quartile, median
# FORMULAT: Percentile / 100 * (number of items + 1)

   age bgroup name
0    1     A+    A
1    2     B+    B
2    3     O+    C
3    4    AB+    D

            age
count  4.000000
mean   2.500000
std    1.290994
min    1.000000
25%    1.750000
50%    2.500000
75%    3.250000
max    4.000000

In [ ]:
curr_df.describe()# described the numerical columns of dataframe

In [ ]:
curr_df.info() # provide details around data type of columns