# Functions

In [1]:
def reverse_string(text):
    """The result will be returned at 1 index"""
    rstr=text[::-1]
    return (text, rstr)

result=reverse_string("saurabh")
print("orignal string: {0} reversed string {1}".format(result[0],result[1]))

orignal string: saurabh reversed string hbaruas

# Nested functions

In [2]:
def mod2plus5(x1,x2,x3):
    def inner(x):
        return x%2+5
    return (inner(x1),inner(x2),inner(x3))

print(mod2plus5(1,2,3))

(6, 5, 6)

# Nested Functions: returning functions

## the below function raise_val can be used to calculate any power

In [3]:
def raise_val(n):
    def inner(x):
        return x**n
    return inner

#WE CAN CALL RAISE VALUE TO CALCULATE ANY POWER
square=raise_val(2)
cube=raise_val(3)
sqrt=raise_val(1/2)
print(square(2),cube(2),sqrt(4))

4 8 2.0

In [4]:
def test(**args):
    print(type(args))
def test1(*args):
    print(type(args))
test1(1,2,3,4,5,6,7)
test(a=1,b=2)

<class 'tuple'>
<class 'dict'>

# below are declartion of dictionaries

In [1]:
t_dict={'a':1,'b':2}
t_dict1=dict(a=1,b=2,c=3,d=4)
print(t_dict)
print(t_dict1)
t_dict2={(1,2,3):"tuple"}
print(type(t_dict2))
print(t_dict2.keys())
print(t_dict2[(1,2,3)])
#the below will create an error as list is mutable and dictionaries key should be immutable
#t_dict3={[1,2,3]:"list"}

{'a': 1, 'b': 2}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
<class 'dict'>
dict_keys([(1, 2, 3)])
tuple

# Sets and its operations

In [6]:
set_1=set() #empty set
print(type(set_1))
set_2=set((1,2,3,4)) #creating set with tuple
print(set_2)
set_3=set([1,2,3,4,5]) #creating set with list
print(set_3)
set_4={1,2,3,4,5,6} #creating set during initialization
print(set_4)

<class 'set'>
{1, 2, 3, 4}
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}

## Sets operations

In [7]:
print("set_2: ",set_2)
print("set_3: ",set_3)
print("Set OR: ",set_2 | set_3)
print("Set AND: ",set_2 & set_3)
print("Set -: ",set_2 - set_3)
print("Set <=: ",set_2 <=set_3)
print("set_2: ",set_2)
print("set_3: ",set_3)
print("Set UNION: ",set_2.union(set_3))
print("Set INTERSECT: ",set_2.intersection(set_3))
print("Set -: ",set_2.difference(set_3))
print("Set <=: ",set_2.issubset(set_3))
print("Is element 1 in set_2: ",1 in set_2)

set_2:  {1, 2, 3, 4}
set_3:  {1, 2, 3, 4, 5}
Set OR:  {1, 2, 3, 4, 5}
Set AND:  {1, 2, 3, 4}
Set -:  set()
Set <=:  True
set_2:  {1, 2, 3, 4}
set_3:  {1, 2, 3, 4, 5}
Set UNION:  {1, 2, 3, 4, 5}
Set INTERSECT:  {1, 2, 3, 4}
Set -:  set()
Set <=:  True
Is element 1 in set_2:  True